* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


/* 

.maincontainer{
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

  width: 100vw;
  height: 100vh;

}

.container{
  margin-left: 350px;
}

form{
  display: flex;
}

h1{
  margin-bottom: 20px;
  padding-top: 200px;
}



.usdpart{
  margin-right: 20px;
}

input{
  border-radius: 5px;
  height: 20px;
} */




button{
  margin-top: 20px;
  background-color: black;
  color: white;
  box-shadow: 50px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-left: 100px;
} 